@charset"utf-8";
@import"../core/reset.scss";
html,body{
    width: 100%;
    height: 100%;
}
spa-app {
    position: absolute;
    overflow: hidden;
}

spa-view {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom:44px;
    width: 100%;
    background: #eceef0 !important;
    @include flexbox(flex);
    @include flex-direction(column);
}
